# DATA SCIENCE

"""data science is the extraction of knowledge and insight from data by using technique and algorithms."""

# Artificial intelligence

Artificial intelligence is the technique which enables machine to mimic human behaviour.

# Machine Learning

Machine Learning is subset of Artificial intelligence, which uses the stastical methods to enable machines to improve with experience.

Example-
Image recognition is a well-known and widespread example of machine learning in the real world. It can identify an object as a digital image, based on the intensity of the pixels in black and white images or colour images. Real-world examples of image recognition: Label an x-ray as cancerous or not.

# Deep Learning

Deep Learning is the subset of machine learning, which make the computational neural networok feasible.

# why PYTHON

In [76]:
# 1.Open source and dynamically type language.
# 2.Synatx is simple.
# 3.Very large and collaborative developer commuinity.
# 4.Extensive package for data science like pandas, numpay, scikit-learn etc

# How to run a cell

1. control + Enter >> Used to run the current cell
2. Shift + Enter   >> Used to execute current cell and enter in the next cell
3. Alt + Enter     >> Used to execute current cell and create/add new blank cell

In [15]:
print("Hello")

Hello

# Comments

1. (#)  >> To comment a single line
2. Control + /  >> TO comment multiple line
3. """______""" >> triple quotes used for multi line comment like paragraph.

Example

In [18]:
# data Science

control + /

In [10]:
#  Machine Learning is subset of Artificial intelligence, which uses the stastical methods to enable machines
# to improve with experience.
#  Example- Image recognition is a well-known and widespread example of machine learning in the real world.
# It can identify an object as a digital image, based on the intensity
# of the pixels in black and white images or colour images. Real-world examples of image recognition: 
#     Label an x-ray as cancerous or not.

Multiline comments

In [8]:
"""Machine Learning is subset of Artificial intelligence, wh
ich uses the stastical methods to enable machines to improve with experience.
Example- Image recognition is a well-known and wid
espread example of machine learning in the real world. It can identify an object as
a digital image, based on the intensity of the pixels in black and white 
images or colour images. Real-world examples 
of image recognition: Label an x-ray as cancerous or not. """

'Machine Learning is subset of Artificial intelligence, which uses the stastical methods to enable machines to improve with experience.\n\nExample- Image recognition is a well-known and widespread example of machine learning in the real world. It can identify an object as a digital image, based on the intensity of the pixels in black and white images or colour images. Real-world examples of image recognition: Label an x-ray as cancerous or not. '

# Indentation

Space at the begining of code line

In [21]:
print("Hello")
    print("1. We are learning Python and Data Science")
print("2. We are learning Python and Data Science")
print("3. We are learning Python and Data Science")
print("4. We are learning Python and Data Science")
print("5. We are learning Python and Data Science")
print("6. We are learning Python and Data Science")

IndentationError: unexpected indent (Temp/ipykernel_16088/878289949.py, line 2)

# Variable

Varible is as containers for store the data.

Rules for define a variable-

1.Variable is the single word no space allowed.
2.Variable can not start with numbers.
3.Special chr not allowed except underscore >>( _ ).
4.Variable name are case sensitive in python.

example-

In [24]:
color="red"  #space not allowed.

In [26]:
4color="red"  #not start with numbers.

In [ ]:
$color="red"   #not start with special chr.

# Function

Function is the reusable set of instruction.

In [27]:
# Example- print , If , input, def etc.

In [28]:
print("Hello")

Hello

In [ ]:
a=20

In [33]:
a=20
b=20.5
c=a+b
print(c)

40.5

In [34]:
type(c)

float

# Data Type in python

In [35]:
# a.Integer
# b.Float
# c.string
# d.None
# e.Boolen
# f.List
# g.Tuple
# h.Dict

# Integer

integer is known as non decimal value. e.g. 10,20,1,2,5

In [37]:
a=10   # >> a & b both are integer ans get in int.
b=10
c=a+b
print(c)
type(c)

20

int

In [38]:
a=10     # >> any one value are in float python by defualt result get in float.
b=20.5   # a=10.0 python consider a value like that. 
c=a+b    # In python not requried some cases to define data types.
print(c)
type(c)

30.5

float

# Float

Float is known as decimal values. e.g 10.3, 10.14

In [39]:
a=10.3
print(a)
type(a)

10.3

float

# Boolen

Boolen are generally returned as result in comparison operation. eg. ==, => etc.

In [43]:
a=10
type(a==15)

bool

int

# None

None is not have any single value.

In [44]:
# N as catial

# String

String is used to represent text in python

In [50]:
a="saturday"

In [51]:
type(a)

str

# List

List is known as container to store multiple data.

In [53]:
# 1. List is edited and update any time.
# 2. List is crieted by using square bracket >> [ ].

In [54]:
List_a=[10,20,30,40]

In [55]:
print(List_a)

[10, 20, 30, 40]

In [58]:
List_a.append(10)  # update single element in list use ( ).

In [62]:
print(List_a)   #10 is added in list by useing append function.

[10, 30, 40, 10]

In [68]:
List_a.append([60,80,90])

In [69]:
print(List_a) # 3 time run above cell so add 3 time in list.

[10, 30, 40, 10, [60, 80, 90], [60, 80, 90], [60, 80, 90]]

In [60]:
#List_a.remove(20)

In [61]:
#print(List_a)  #20 no. remove from list by using remove function.

[10, 30, 40, 10]

In [70]:
List_a[4]   #extract single element from list by using []

[60, 80, 90]

In [71]:
List_a[1:5]      #extract multiple element from list

[30, 40, 10, [60, 80, 90]]

In [72]:
List_a[-1]      #extract element from back side.

[60, 80, 90]

In [73]:
List_a.extend([100,200])

In [74]:
print(List_a)    #add multiple element at time

[10, 30, 40, 10, [60, 80, 90], [60, 80, 90], [60, 80, 90], 100, 200]

# Tuple

Tuple created by using ( ).

In [77]:
# 1. Tuple is not edited.

In [78]:
Sample=(10,20,30,40,50)

In [80]:
print(Sample)

(10, 20, 30, 40, 50)

In [81]:
type(Sample)

tuple